
//Primary 

    $red: hsl(0, 100%, 68%);

//Neutral

    $verydarkblue: hsl(230, 29%, 20%);
    $darkgrayishblue: hsl(230, 11%, 40%);
    $grayishblue: hsl(231, 7%, 65%);
    $lightgrayishblue: hsl(207, 33%, 95%);

//Fonts 

    //Desktop

    $h1-desktop: 70px;

    //Tablet

    $h1-tablet: 50px;

    //Mobile

    $h1-mobile: 40px